<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Modifier Professeur</title>
</head>
<body>

	<!-- Navbar -->

<nav class="navbar navbar-light bg-dark">
  <form class="form-inline">
    <a th:href="@{/listprof}"><button class="btn  btn-success my-2 mx-3"type="button">Liste des Professeurs</button></a>
    <button class="btn btn-outline-success my-2 mx-3"  type="button">Se déconnecter</button>
  </form>
</nav>

	<!-- Navbar -->


	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-warning">Modifier Professeur</h4>

						<form th:action="@{/saveProf}" method="post" th:object="${user}">

							<input type="hidden" name="id"  th:value="${user.id}"/>
				
							<div class="modal-body">					
								<div class="form-group">
									<label>Prenom</label>
									<input type="text" class="form-control" name="prenom"  th:value="${user.prenom}" required>
								</div>
								<div class="form-group">
									<label>Nom</label>
									<input type="text" class="form-control" name="nom" th:value="${user.nom}"  required>
								</div>
								<div class="form-group">
									<label>Cin</label>
									<input type="text" class="form-control" name="cin"  th:value="${user.cin}"  required>
								</div>
								<div class="form-group">
									<label>Tél</label>
									<input type="text"  class="form-control" name="tel" th:value="${user.tel}"  required>
								</div>
								<div class="form-group">
									<label>Email</label>
									<input type="email"  class="form-control" name="email"  th:value="${user.email}" required>
								</div>			
								<div class="form-group">
									<label>Département</label>
									<input type="text"  class="form-control" name="departement" th:value="${user.departement}"  required>
								</div>					
							</div>
							<div class="modal-footer">
								<input type="reset" class="btn btn-outline-warning" data-dismiss="modal" value="Annuler">
								<input type="submit" class="btn btn-warning" value="Valider">
							</div>

						</form>
					</div>
				</div>

			</div>
		</div>

	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>